@media screen and (max-width: 768px){
    
    nav .container{   
        
        /* align-items: center;
        justify-content: center; */
    }
    .sticky {
        width: 100%;
    }
    nav .container .brand  a{        
        font-size: 3rem;      
    }
    .menu ul{
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }
     nav .container ul li a {
        display: none;
        font-size: 22px;
        padding: 0 0;
    } 
    nav .container ul li:last-child a {
        display: block;
        border: 1px solid #ffe4c4;
        padding: 5px 10px;
        font-size: 22px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px #ffe4c4;
    }


    .banner{
        padding: 0 10%;
    }
    .banner .title {
        font-size: 3.5rem;
        word-wrap: break-word;
    }

    .banner h4{
        font-size: 2.1rem;
    }
    .banner p {
       font-size: 1.5rem;
       padding-top: 15px;
    }

    .about-section .container .main-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
         align-items: center; 
        margin: 1rem 0;
        font-size: 16px;
    }
    .about-section .container .main-row .left {
        width: inherit;
    }
    .about-section .container .main-row .right {
        width: inherit;
    }


    .section-portfolio .pf-text {
        font-size: 22px;
        margin: 2rem 5%;
        padding: 0 0%;
    }
    .tab-link {
        margin: 10px 5px;
    }
    .section-portfolio .technology{
        
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .portfolio-tab{
        flex-wrap: wrap;
    }
    .section-portfolio .row .portfolio {
        width: 100%;
    }
}
@media screen and (min-width: 600px){

   
    .section-portfolio .pf-text {        
        padding: 0 10%;
    }
    
    .section-portfolio .technology{
        
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .section-portfolio .row .portfolio {
        width: 45%;
    }
}
@media screen and (min-width: 769px){
    .sticky {
        width: 100%;
    }
    nav ul{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    nav .container ul li a {
        padding: 8px 10px;
        font-size: 23px;
    }
    nav .container ul li:last-child a {
        border: 2px solid #ffe4c4;
        padding: 8px 15px;
        font-size: 23px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px #ffe4c4;
    }


    .portfolio-tab {
        
        flex-wrap: wrap;
    }
    .section-portfolio .technology{        
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .tab-link {
        margin: 10px 5px;
    }
    .about-section .container .main-row {
        align-items: center;
    }
     .about-section .container .main-row .left {
        width: 35%;
    }
    .about-section .container .main-row .right {
        width: 60%;
    } 
}
@media screen and (min-width: 1025px){
    .about-section .container .main-row {
        align-items: center;
    }
     .about-section .container .main-row .left {
        width: 30%;
    }
    .section-portfolio .technology{        
        
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 1200px){
    .section-portfolio .technology{        
        
        flex-wrap: wrap;
    }
    .section-portfolio .row .portfolio {
        width: 49%;
    }
}
@media screen and (min-width: 1400px){
    .section-portfolio .technology{        
        
        flex-wrap: wrap;
    }
    .section-portfolio .row .portfolio {
        width: 32%;
    }
}