@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: 0;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
nav{
  background: #136a8a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
nav .container{
  margin: 0 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5% 0;
}
nav .container .brand  a{
  color: bisque;
  text-decoration: none;
  font-size: 4rem;
  font-family: 'Square Peg', cursive;
  font-weight: bold;

}
nav .container ul li{
  list-style-type: none;
  display: inline-block;
}
nav .container ul li a{
  color: bisque;
  text-decoration: none;
  font-size: 25px;
  padding: 0 20px;
}
nav .container ul li:last-child{
  margin-left: 20px;
}
nav .container ul li:last-child a{
  border: 2px solid #ffe4c4;
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ffe4c4;
}


.banner{
  height: 100vh;
  background: #136a8a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  align-items: center;
  justify-content: center;
  color: bisque;
  text-align: center;
}
.banner .title{
  font-size: 4.5rem;
}
@keyframes type{ 
  from { width: 0; } 
} 
.banner h4{
  font-size: 2.5rem;
  padding-top: 20px;
  color: #EDC126;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 4s steps(60, end); 
}
.banner p{
  font-size: 2rem;
  padding-top: 20px;
  color:mintcream
}
banner .animate__animated.animate__zoomInDown {
  --animate-duration: 5s;
}
/*********** About Section **********/

.about-section {
  margin: 0 5%;
}
.about-section .container{
  margin-top: 4rem;
  padding-top: 4rem;
}
.about-section .container .text-center{
  text-align: center;
  font-size: 2.5rem;
}
.about-section .container .main-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  /* align-items: center; */
    margin: 1rem 0;  
   font-size: 16px;
}
 .about-section .container .main-row .left{
  width: 30%;
}
.about-section .container .main-row .left img{
  width: 100%;
  vertical-align: middle;
}

.about-section .container .main-row .right{
  width: 60%;
} 
.about-section .container .main-row .right{
  font-size: 22px;
  line-height: 25px;
  text-align: justify;
}
.about-section .container .main-row .row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 15px 0;  
}
.about-section .container .main-row .row li{
  padding: 8px 0;
}

/*********** Service Section ******/
.service-section{
  margin: 0 5%;
}
.service-section .container{
  margin: 4.5rem 0;
  padding: 4.5rem 0;
}
.service-section .container h1{
  text-align: center;
  font-size: 2.5rem;
}
.service-section .container .row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
}
.service-section .container .row .service{
  border: 1px solid #136a8a;
  padding: 10px;
  border-radius: 8px;
  margin:0 30px;
  padding: 10px 20px;
  box-shadow: 0px 0px 8px #136a8a;
}
.service-section .container .row .service:first-child{
  margin-left: 0;
}
.service-section .container .row .service:last-child{
  margin-right: 0;
}
.service-section .container .row .service:hover{
  border: 1px solid #ffe4c4;
  background: #136a8a;
  color: #ffe4c4;
  box-shadow: 0px 0px 8px #267871;
  
}
.service-section .service h4{
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.service-section .service p{
  font-size: 22px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/******** Section PortFolio ****/
.section-portfolio{
  margin: 0 5%;
}
.section-portfolio .container{
  /*padding-top: 4.5rem;*/
  margin-top: 4.5rem;
}
.section-portfolio h1{
  font-size: 2.5rem;
  text-align: center;
}
.portfolio-tab{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.tab-link{
  margin: 0 5px;
  font-size: 20px;
  padding: 10px 20px;
  background: #136a8a;
  border: none;
  border-radius: 5px;
  color: #ffe4c4;
}
.tab-link:hover{
  
  background: #267871;
  color: #ffe4c4;
}
.coming-soon{
  text-align: center;
  padding: 0 40%;
  font-size: 26px;
}
.section-portfolio .row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
  flex-wrap: wrap;
  display: none;
}
.section-portfolio #all{
  display: flex;
}

.section-portfolio .row .portfolio{
  border: 1px solid #ffe4c4;
  border-radius: 8px;
  margin:20px 0px; 
  width: 30%; 
}
.section-portfolio .row .portfolio:hover{
  box-shadow: 4px 4px 10px #1d1d1d;
  
}
.section-portfolio .row .portfolio:first-child{
  margin-left: 0;
}
.section-portfolio .row .portfolio:last-child{
  margin-right: 0;
}
.section-portfolio .row .portfolio img{
  height: 400px;
}
.section-portfolio .row .portfolio .card-body{
  padding: 15px;
}
.section-portfolio .row .portfolio .card-body h4{ 
  font-size: 2rem;
  padding-bottom: 10px;
  text-align: center;
}
.section-portfolio .row .portfolio .card-body p{ 
  font-size: 1.5rem;
  padding-bottom: 10px;
}
.portfolio .portfolio-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 15px 0;
}
.section-portfolio .row .portfolio .card-body a{ 
 text-decoration: none;
 font-size: 22px;
 padding: 10px 20px;
 border: none;
 border-radius: 5px;
}

@keyframes glowing {
  0% {
    background-color: #267871;
    box-shadow: 0 0 5px #267871;
  }
  50% {
    background-color: #136a8a;
    box-shadow: 0 0 20px #136a8a;
  }
  100% {
    background-color: #267871;
    box-shadow: 0 0 5px #267871;
  }
}
.section-portfolio .row .portfolio .card-body a {
  animation: glowing 1300ms infinite;
}

.section-portfolio .pf-text{
  font-size: 22px;
  margin: 2rem 5%;
  padding: 0 20%;
  text-align: center;
}
.portfolio .btn-link{
  background-color: #136a8a;
  color: #ffe4c4;
}
.portfolio .btn-git{
  background-color:#267871;
  color: #ffe4c4;
}


/**** Footer Section ***********/
footer{
  background: #136a8a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 50px;
  margin-top: 4rem;
  padding: 2%;
}
footer .container .social-icons{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.social-icons a{
  padding:0 20px;
}