<nav class="mx-4 lg:mx-10">
  <div class="flex flex-row justify-between lg:justify-center">
    <div class="logo text-5xl font-bold text-amber-300 lg:text-5xl">Yashvir Pal</div>
    <div class="lg:hidden">
      <!-- Mobile menu button -->
      <button id="mobile-menu-button" class="bg-blue rounded-full p-2">
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>

    </div>
  </div>
  <!-- Mobile menu -->
  <div class="hidden mt-10" id="mobile-menu">
    <div class="bg-gray shadow-3xl rounded-md ">
      <div id="" class="px-16 py-8">
        <ul class="text-white text-base gap-3 flex flex-col ">
          <li class="">
            <a href="/" class="">
              <span class="">
                <i class="fa-solid fa-address-card"></i>
              </span>
              About
            </a>
          </li>
          <li class="">
            <a href="/resume" class="">
              <span class="">
                <i class="fa-solid fa-file"></i>
              </span>
              Resume
            </a>
          </li>
          <li class="">
            <a href="/portfolio" class="">
              <span class="">
                <i class="fa-solid fa-briefcase"></i>
              </span>
              Portfolio
            </a>
          </li>          
          <li class="">
            <a href="/contact" class="">
              <span class="">
                <i class="fa-solid fa-address-book"></i>
              </span>
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>