<div class=" px-5 py-5 lg:px-6 lg:pt-10 bg-black rounded-2xl lg:sticky lg:top-11 h-fit">
    <div class="">
        <span class="flex flex-col items-center">
            <div class="">
                <img class="rounded-2xl" src="/assets/img/parson-img-1.png" alt="yashvir profile pic">
            </div>
            <h1 class="mt-8 text-3xl font-bold text-white font-roboto-slab">
                <a href="javascript:void(0)" class="">Yashvir Pal</a>
            </h1>
            <span class="my-4 px-4 py-2 text-silver bg-gray rounded">Fullstack Web Developer</span>
            <ul class="flex gap-4 overflow-x-auto whitespace-nowrap">
                <!-- <li class="bg-gray px-4 py-2 rounded-lg text-linkedin-color hover:text-white hover:bg-linkedin-color">
                    <a href="https://www.facebook.com/devyashvirpal" class="" rel="noopener" target="_blank">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </li>
                <li class="bg-gray px-4 py-2 rounded-lg text-linkedin-color hover:text-white hover:bg-linkedin-color">
                    <a href="#" class="" target="_blank" rel="noopener" >
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li> -->
                <li class="bg-gray px-4 py-2 rounded-lg text-linkedin-color hover:text-white hover:bg-linkedin-color">
                    <a href="https://x.com/devyashvirpal" class="" rel="noopener" target="_blank">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                
                <li class="bg-gray px-4 py-2 rounded-lg text-linkedin-color hover:text-white hover:bg-linkedin-color">
                    <a href="https://www.linkedin.com/in/yashvirpal/" target="_blank" rel="noopener" class="">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>
                <li class="bg-gray px-4 py-2 rounded-lg text-whatsapp-color hover:text-white hover:bg-whatsapp-color">
                    <a href="https://wa.me/918756672297" target="_blank" rel="noopener" class="">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </li>
                <!-- <li class="bg-gray px-4 py-2 rounded-lg text-skype-color hover:text-white hover:bg-skype-color">
                    <a href="skype:live:2241a10c4bba6f24" target="_blank" rel="noopener" class="">
                        <i class="fa-brands fa-skype"></i>
                    </a>
                </li> -->
                <li class="bg-gray px-4 py-2 rounded-lg text-black hover:text-black hover:bg-white">
                    <a href="https://github.com/yashvirpal" target="_blank" rel="noopener" class="">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
            </ul>
            <div class="text-pdtlcolor bg-charcoal w-full rounded-lg px-10 py-8 mt-8 lg:py-4 lg:px-4">
                <div class="flex gap-3 items-center border-b border-zinc-600 py-3 ">
                    <span class="bg-black px-4 py-2 rounded-lg">
                        <i class="fa-solid fa-mobile-screen-button text-pdtlphonecolor"></i>
                    </span>
                    <div class="">
                        <span class="text-sm">Phone</span>
                        <p class="text-white">
                            <a href="tel:+91 875 667 2297">
                                +91 875 667 2297
                            </a>
                        </p>
                    </div>
                </div>
                <div class="flex gap-3 items-center border-b border-zinc-600 py-3 ">
                    <div class="bg-black px-4 py-2 rounded-lg">
                        <i class="fa-solid fa-envelope-open-text text-pdtlemailcolor"></i>
                    </div>
                    <div class="">
                        <span class="text-sm">Email</span>
                        <p class="text-white break-all">
                            <a href="mailto:contact@yashvirpal.com">
                                contact@yashvirpal.com
                            </a>
                        </p>
                    </div>
                </div>
                <div class="flex gap-3 items-center border-b border-zinc-600 py-3 ">
                    <div class="bg-black px-4 py-2 rounded-lg">
                        <i class="fa-solid fa-location-dot text-pdtllocationcolor"></i>
                    </div>
                    <div class="">
                        <span class="text-sm">Location</span>
                        <p class="text-white">Delhi India</p>
                    </div>
                </div>
                <div class="flex gap-3 items-center border-b border-zinc-600 py-3 ">
                    <div class="bg-black px-4 py-2 rounded-lg">
                        <i class="fa-solid fa-calendar-days text-pdtlcalendercolor"></i>
                    </div>
                    <div class="">
                        <span class="text-sm">Birthday</span>
                        <p class="text-white">Nov 26, 1993</p>
                    </div>
                </div>
            </div>
            <div
                class="text-white text-xl font-bold bg-blue mt-6 rounded-lg px-8 py-4 hover:bg-gray hover:border hover:border-blue">
                <a href="./assets/yashvirpal_developer.pdf" target="_blank" class="">
                    <i class="fa-solid fa-download"></i> Download CV
                </a>
            </div>
        </span>
    </div>
</div>