<div class="hidden lg:block sticky top-11 h-fit bg-black rounded-2xl py-5 text-silver text-center">
    <ul class="m-5 flex flex-col align-center justify-center gap-5 [&>*]:rounded-xl [&>*]:bg-gray 
                    [&>*>*]:flex [&>*>*]:flex-col [&>*>*]:align-center [&>*>*]:justify-center [&>*>*]:m-3 ">
        <li class="hover:text-white hover:bg-blue">
            <a href="/" class="">
                <span class="">
                    <i class="fa-solid fa-address-card"></i>
                </span>
                About
            </a>
        </li>
        <li class="hover:text-white hover:bg-blue">
            <a href="resume.html" class="">
                <span class="">
                    <i class="fa-solid fa-file"></i>
                </span>
                Resume
            </a>
        </li>
        <li class="hover:text-white hover:bg-blue">
            <a href="portfolio.html" class="">
                <span class="">
                    <i class="fa-solid fa-briefcase"></i>
                </span>
                Works
            </a>
        </li>
        <li class="hover:text-white hover:bg-blue">
            <a href="https://codenskills.com/" target="_blank" class="">
                <span class="">
                    <i class="fa-solid fa-newspaper"></i>
                </span>
                Blogs
            </a>
        </li>
        <li class="hover:text-white hover:bg-blue">
            <a href="contact.html" class="">
                <span class="">
                    <i class="fa-solid fa-address-book"></i>
                </span>
                Contact
            </a>
        </li>
    </ul>
</div>