<div class="px-5 py-5 md:px-10 md:pt-10 ">
  <div class="text-silver text-justify">
    <div class="flex gap-3 items-center">
      <h2 class="text-white font-bold text-3xl font-roboto-slab">About</h2>
      <span class="bg-blue w-[80px] h-[2px]"></span>
    </div>

    <p class="my-5">Highly skilled and motivated Software Development Engineer with over 7+
      years of experience
      in software creation and maintenance. Possesses a strong foundation in website
      troubleshooting and is adept
      at tackling project tasks across various levels.</p>
    <p class=""> Known for being communicative, honest, adaptable, and willing to compromise,
      with a proven track record in mentoring co-workers and assuming leadership roles in
      project implementation.</p>

  </div>
</div>

<div class="px-5 md:px-10">
  <h3 class="text-white font-bold text-2xl font-roboto-slab pb-8">What I Do!</h3>
  <div class="text-silver grid grid-rows-auto gap-8 [&>*]:border [&>*]:p-5 [&>*]:rounded-2xl">
    <div class="">
      <div class="flex flex-col gap-2">
        <div class="text-pdtlemailcolor text-2xl">
          <i class="fa-solid fa-code"></i>
        </div>

        <h4 class="text-2xl text-white poppin font-serif">Web Development</h4>
        <p class="">I specialize in designing and developing responsive, user-friendly
          websites that deliver exceptional user experiences and drive business success.
          By blending my technical expertise, I build visually appealing, highly
          functional websites optimized for performance.My technical skills include:
          Laravel, CodeIgniter, WordPress, HTML, CSS, JavaScript, Vue, jQuery,MySQL,
          Mongo.</p>

      </div>
    </div>
    <div class="">
      <div class="flex flex-col gap-2">
        <div class="text-pdtlemailcolor text-2xl">
          <i class="fa-solid fa-code"></i>
        </div>

        <h4 class="text-2xl text-white poppin font-serif">API Development</h4>
        <p class="">I design and develop robust APIs that enable seamless integration
          between applications, ensuring secure and efficient data exchange, leveraging
          Laravel, CodeIgniter, WordPress, Core PHP.</p>

      </div>
    </div>
    <!-- <div class="">
                                <div class="flex flex-col gap-2">
                                    <div class="text-pdtlphonecolor text-2xl">
                                        <i class="fa-solid fa-laptop-code"></i>
                                    </div>
                                    <h4 class="text-2xl text-white poppin font-serif">App Development</h4>
                                    <p class="">I specialize in designing and developing robust, user-friendly mobile
                                        applications that solve real-world problems and deliver exceptional user
                                        experiences. Combining my expertise in UI/UX design with technical skills in app
                                        development, I create apps that are visually appealing, intuitive, and highly
                                        functional. </p>

                                </div>
                            </div>


                            <div class="">
                                <div class="flex flex-col gap-2">
                                    <div class="text-pdtlcalendercolor text-2xl">
                                        <i class="fa-solid fa-swatchbook"></i>
                                    </div>
                                    <h4 class="text-2xl text-white poppin font-serif">Ui/Ux Design</h4>
                                    <p class="text-base">I create visually appealing and user-friendly interfaces that
                                        enhance user interactions and improve overall satisfaction. My design philosophy
                                        revolves around clarity, simplicity, and consistency, ensuring that every visual
                                        element serves a purpose and contributes to a cohesive user experience. </p>
                                </div>
                            </div> -->
  </div>
</div>
<div class="bg-gray">
  <div class="">
    <h2 class="text-center text-white font-bold text-2xl font-roboto-slab mt-7">Clients</h2>
  </div>
  <div class="px-3 py-16 flex justify-center items-center">


    <div class="swiper mySwiper">
      <div class="swiper-wrapper overflow-hidden">

        <div class="swiper-slide"><img class="" src="/assets/img/clients/pngguru.png" alt=""></div>
        <div class="swiper-slide"><img class="" src="/assets/img/clients/jovial-vision.png" alt=""></div>

        <div class="swiper-slide">
          <img class="h-manavta-logo w-auto" src="/assets/img/clients/manavtafamily.png" alt="">
        </div>
        <div class="swiper-slide"><img class="" src="/assets/img/clients/pngguru.png" alt=""></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>


  </div>
</div>