<div class="px-5 py-5 md:px-10 md:pt-10 ">
    <div class="text-silver text-justify">
        <div class="flex gap-3 items-center">
            <h2 class="text-white font-bold text-3xl font-roboto-slab">Resume</h2>
            <span class="bg-blue w-[80px] h-[2px]"></span>
        </div>
    </div>
</div>
<div class="px-5 md:px-10  lg:flex lg:flex-row lg:justify-between lg:gap-4">

    <div class="">
        <h3 class="text-white font-bold text-2xl font-roboto-slab pb-8">
            <i class="fa-solid fa-school"></i> Education
        </h3>
        <div class="text-silver grid grid-rows-auto gap-8 [&>*]:border [&>*]:p-5 [&>*]:rounded-2xl">
            <div class="">
                <div class="flex flex-col gap-2">
                    <h6 class=""> 2011-2017</h6>
                    <h4 class="text-2xl text-white poppin font-serif">
                        BCA-MCA Integrated <span class="text-base text-silver"> - IGNOU</span>
                    </h4>
                    <p class="">HBTI Kanpur</p>

                </div>
            </div>
            <div class="">
                <div class="flex flex-col gap-2">
                    <h6 class="">2011</h6>
                    <h4 class="text-2xl text-white poppin font-serif">
                        12<sup>th</sup> <span class="text-base text-silver"> - UP Board</span>
                    </h4>
                    <p class="">Akabarpur Inter Collage Akabarpur Kanpur Dehat</p>
                </div>
            </div>
            <div class="">
                <div class="flex flex-col gap-2">
                    <h6 class="">2008</h6>
                    <h4 class="text-2xl text-white poppin font-serif">
                        10<sup>th</sup> <span class="text-base text-silver"> - UP Board</span>
                    </h4>
                    <p class="">DGA Inter Collage Akabarpur Kanpur Dehat</p>

                </div>
            </div>
        </div>
    </div>
    <div class="">
        <h3 class="text-white font-bold text-2xl font-roboto-slab md:py-8 lg:pb-8 lg:pt-0">
            <i class="fa-solid fa-briefcase"></i> Experience
        </h3>
        <div class="text-silver grid grid-rows-auto gap-8 [&>*]:border [&>*]:p-5 [&>*]:rounded-2xl">
            <div class="">
                <div class="flex flex-col gap-2">
                    <h6 class="">January 2021 - May 2024</h6>
                    <h4 class="text-2xl text-white poppin font-serif">
                        Team Lead (D&D)<span class="text-base text-silver"></span>
                    </h4>
                    <!-- <h6 class="">January 2021 - March 2023</h6>
                                        <h4 class="text-2xl text-white poppin font-serif">
                                            Web Developer<span class="text-base text-silver"></span>
                                        </h4> -->
                    <p class="">Ez Rankings Pvt. Ltd.</p>
                </div>
            </div>
            <div class="">
                <div class="flex flex-col gap-2">
                    <h6 class="">November 2017 - October 2021</h6>
                    <h4 class="text-2xl text-white poppin font-serif">
                        Associate Web Developer<span class="text-base text-silver"></span>
                    </h4>
                    <p class="">V2web Hosting Pvt. Ltd.</p>
                </div>
            </div>
            <div class="">
                <div class="flex flex-col gap-2">
                    <h6 class="">April 2017 - October 2017</h6>
                    <h4 class="text-2xl text-white poppin font-serif">
                        Jr. Web Developer<span class="text-base text-silver"></span>
                    </h4>
                    <p class="">Alltoit Pvt. Ltd.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="lg:[&>*]:w-1/2 bg-gray px-5 py-5 md:px-10 lg:flex lg:flex-row lg:justify-between gap-5">

    <div class="text-silver [&>*]:my-5 ">
        <h2 class=" text-white font-bold text-2xl font-roboto-slab my-5">Working Skills</h2>
        <div class="">
            <div class="flex justify-between [&>*]:py-1">
                <span>Web Devloper</span>
                <span>95%</span>
            </div>
            <div class="bg-white rounded-2xl">
                <p class=" w-11/12 bg-red-900 inline-block rounded-l-xl rounded-r-xl">&nbsp;</p>
            </div>

        </div>
        <div class="">
            <div class="flex justify-between [&>*]:py-1">
                <span>Web Design</span>
                <span>80%</span>
            </div>
            <div class="bg-white rounded-2xl">
                <p class=" w-8/12 bg-fuchsia-900 inline-block rounded-l-xl rounded-r-xl">&nbsp;</p>
            </div>
        </div>
        <div class="">
            <div class="flex justify-between [&>*]:py-1">
                <span>API Development</span>
                <span>90%</span>
            </div>
            <div class="bg-white rounded-2xl">
                <p class=" w-10/12 bg-teal-900 inline-block rounded-l-xl rounded-r-xl">&nbsp;</p>
            </div>
        </div>
        <div class="">
            <div class="flex justify-between [&>*]:py-1">
                <span>Adobe Photoshop</span>
                <span>50%</span>
            </div>
            <div class="bg-white rounded-2xl">
                <p class=" w-6/12 bg-orange-900 inline-block rounded-l-xl rounded-r-xl">&nbsp;</p>
            </div>
        </div>
    </div>
    <div class="">
        <h2 class=" text-white font-bold text-2xl font-roboto-slab my-5">Knowledges</h2>
        <div class="[&>*]:mb-2 [&>*]:px-3 [&>*]:py-1 [&>*]:rounded-xl [&>*]:bg-charcoal [&>*]:text-silver">
            <button class=" ">PHP</button>
            <button class=" ">JavaScript</button>
            <button class=" ">Laravel</button>
            <button class=" ">Codeigniter</button>
            <button class=" ">Wordpress</button>
            <button class=" ">CSS</button>
            <button class=" ">HTML</button>
            <button class=" ">VUE</button>
            <button class=" ">MERN </button>
            <button class=" ">LAMPP</button>
        </div>
    </div>
</div>