<div class="px-5 py-5 md:px-10 md:pt-10 ">
    <div class="text-silver text-justify">
        <div class="flex gap-3 items-center">
            <h2 class="text-white font-bold text-3xl font-roboto-slab">Thankyou</h2>
            <span class="bg-blue w-[80px] h-[2px]"></span>
        </div>
    </div>
</div>
<section class="text-center mt-20">
  <h1 class="text-3xl font-bold text-green-600">Thank you!</h1>
  <p class="mt-4 text-lg">Your message has been sent successfully. We’ll be in touch soon.</p>
</section>